@{
    ViewData["Title"] = "Special Room";
}

<h2 class="text-center font-bold text-2xl mb-4">ENJOY THE WHOLE WORLD OF CINEMA AT CGV</h2>
<p class="text-center text-gray-500">#Technology#Experience#Style</p>

<div class="container mt-5">
    <h3 class="font-bold text-xl">TECHNOLOGY</h3>
    <p>Comprehensive combination of 3 elements (screen, sound, seats) upgrades the experience and emotions when watching movies</p>

    <div class="row">
        <div class="col-md-6">
            <div class="special-room">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/theaters/special/main-page/imax_cgv.jpg" alt="IMAX" class="img-fluid rounded">
                <h4>IMAX</h4>
                <p>The most advanced cinema technology</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="special-room">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/theaters/special/main-page/17066596473020.jpg" alt="4DX" class="img-fluid rounded">
                <h4>4DX</h4>
                <p>Awaken all senses</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="special-room">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/theaters/special/main-page/17079535042120.jpg" alt="4DX" class="img-fluid rounded">
                <h4>ULTRA 4DX</h4>
                <p>The ultimate cinematic experience</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="special-room">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/theaters/special/main-page/16844566032440.png" alt="4DX" class="img-fluid rounded">
                <h4>SCREENX</h4>
                <p>Outstanding visual expansion</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="special-room">
                <img src="https://iguov8nhvyobj.vcdn.cloud/media/theaters/special/main-page/Starium-new.jpg" alt="4DX" class="img-fluid rounded">
                <h4>STARIUM</h4>
                <p>The cinematic experience "goes beyond reality"</p>
            </div>
        </div>
    </div>
</div>

<style>
    .special-room {
        text-align: center;
        margin-top: 20px;
    }

        .special-room img {
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        }

    h4 {
        margin-top: 10px;
        font-weight: bold;
        color: white;
    }

    p {
        color: lightgray;
    }
</style>
